[Desktop Entry]
Version=1.0
Type=Application
Name=Saccade
GenericName=Scientific Image Viewer
Comment=Sophisticated image viewer for comparing images
Exec=/home/patwie/git/saccade/build/saccade
Terminal=false
Icon=/home/patwie/git/saccade/Icon/256x256/saccade.png
Categories=ImageViewer;Science;
StartupNotify=true
